<!DOCTYPE html>
<html>
<head>
<title>Celsius2Farenheint</title>
<meta charset="UTF-8">
</head>
<body>

		<div style="right: 40px; position: absolute">
			<a th:href="@{''(lang=pt)}"><img alt="" th:src="@{/image/Brasil.gif}" style="width: 50px;" /></a> 
			<a th:href="@{''(lang=en)}"><img alt="" th:src="@{/image/EUA.gif}" style="width: 50px;" /></a>
		</div>

		<form action="CtoF_Spring" method="POST">

			<h1 th:text="#{home.text}"></h1>
			<input th:text="#{min.text}" type="text" name="minVal"><br>
			<input th:text="#{max.text}" type="text" name="maxVal"><br>
			<input th:text="#{inc.text}" type="text" name="incVal"><br>
			<input type="submit" name="enviar" th:value="#{button.text}" />
		</form>
		<h3 th:text="#{intro.text}"></h3>
</body>
</html>